
{% extends 'daily_tasks/base.html'%}
{% block content %}
{%load static%}
<form  method="POST">
  {%csrf_token%}
  <div class="container_form">
    <div class = 'lbl' id = 'search_label'>Search</div>
    <div id = 'search_content' 
    style = 'border-left: 1px solid rgb(11, 46, 202); padding-left: 20px'>
    <label for="uname"><b>Executor</b></label>
    <input type="text" placeholder="Enter executor name" name="executor">
    <label for="Head"><b>Head</b></label>
    <input type="text" placeholder="Enter head name" name="head">
    <label for="Content"><b>Content</b></label>
    <input type="text" placeholder="Enter content of task" name="content">
    <label for="time"><b>Assignment date</b></label><br>
    <input class = "date_input" type="date" name="assignment_date">
    <br>
    <button type="submit" name = 'search_button'>Search</button>
    </div>
    <div class = 'lbl' id = 'filter_label'>Filter</div>
    <div class = 'filter_block' id = 'filter_content'
     style = 'border-left: 1px solid rgb(11, 46, 202); padding-left: 20px'>
    <input type="radio" name = 'filter_choice' value = 'Complete'>Completed</button><br>
    <input type="radio" name = 'filter_choice' value = 'In Progress'>In progress</input><br>
    <input type="radio" name = 'filter_choice' value = 'All'>All</input><br>
    <button type="submit" name = 'filter'>Filter</button>
    </div>

  </div>
  </form>
    <div class="task_field">
        <div class="lbl">Daily Tasks</div>
        <hr>
    {% for task in tasks %}
        <div class = 'task_instance'>
        <img class = 'task_image' src = '{{task.head.profile.image.url}}'>
        <img class = 'task_image' src = '{{task.full_filename}}'>
        <img class = 'task_image' src = '{{task.executor.profile.image.url}}'>
        <br><br><br>
        <p>From {{task.head}} to {{task.executor}}</p>
        <h2><a href="{% url 'tasks:task_details' task.pk %}">{{task.content}}<a></h2>
        <small>Assigned on {{task.assignment_date|date:'F d, Y'}}. <br>Deadline: {{task.end_date|date:'F d, Y'}}.</small>
        <small>Current status: {{task.status}}.</small><br>
        </div>
        <hr>
        
    {% endfor %}
    </div>
    <script type="text/javascript" src="{% static 'daily_tasks/move.js'%}"></script>
{% endblock content %}
