{% extends 'daily_tasks/base.html' %}
{% block additional_media %}
{%load static%}
<link rel="stylesheet" type = "text/css" href = "{% static 'programs/main.css'%}">
{% endblock %}
{% block content %}
<form  method="POST">
    {%csrf_token%}
    
            
<div class="new_form">
    <div class = 'lbl_program'>Update programm</div>
    <hr><br><br><br><br>
      <label for="ID"><b>ID</b></label>
      <input type="text" placeholder="Enter ID" name="ID" class = 'program_input' required><br>
      <label for="KKS"><b>KKS</b></label>
      <input type="text" placeholder="Enter KKS" name="KKS" class = 'program_input' required><br>
      <label for="type"><b>Type</b></label>
      <select name="type">
        <option value="PMO">PMO</option>
        <option value="GI">GI</option>
        <option value="IE">PNR</option>
        <option value="IE">IE</option>
      </select>
      <label for="block" class='option'><b>Block</b></label>
      <select name="block">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
      <label for="status" class='option'><b>Status</b></label>
      <select name="status">
        <option value="Approved">Approved</option>
        <option value="On correction">On correction</option>
        <option value="Replication">Replication</option>
        <option value="Employer">Employer</option>
      </select><br>  
    </div>
<div class="new_form">
    <div class = 'lbl_program'>More information</div>  
    <hr><br><br><br><br>
      <label for="name"><b>Name</b></label><br>
      <textarea class = "details_content" type="text" placeholder="Name..." name="name"></textarea><br>
      <label for="details"><b>Details</b></label><br>
      <textarea class = "details_content" type="text" placeholder="Details..." name="details"></textarea><br>
             
      <button type="submit" name = 'add_program'>Add program</button>

    </div>
  </form>
  {% endblock content %}
{% endblock %}