{% extends 'daily_tasks/base.html' %}
{% block additional_media %}
{%load static%}
<link rel="stylesheet" type = "text/css" href = "{% static 'programs/main.css'%}">
{% endblock %}
{% block content %}
<div class = 'lbl' style = 'width:40%; float: left'>List of programms</div>
<form method = "POST">
  {% csrf_token %}
<button type='submit' name = 'add' class = "add_btn" style = "width: 15%">Add new programm</button>
<button type='submit' name = 'sort' class = "sort_btn" style = "width: 15%">Sort</button>

<table>
    <tr>
      <th id = 'ID'>
        <p id = 'open'>ID &#9660;</p>
        <div id = 'tail_id' class = 'dropdown_content' style = "display: none">
          <label for="order" style = "margin-left: 5px"><b>Order:</b></label><br>
          <input type="radio" id="radioButton" name="id" value = "Ascending" style = "margin: 10px">Ascending<br>
          <input type="radio" id="radioButton" name="id" value = "Descending" style = "margin: 10px">Descending<br>
        </div>
      </th>
      <th id = 'KKS'>
        <p id = 'open'>KKS &#9660;</p>
        <div id = 'tail_kks' class = 'dropdown_content' style = "display: none">
        </div>
      </th>
      <th id = 'Name'>
        <p id = 'open'>Name &#9660;</p>
        <div id = 'tail_name' class = 'dropdown_content' style = "display: none">
          <label for="order" style = "margin-left: 5px"><b>Order:</b></label><br>
          <input type="radio" id="radioButton" name="name" value = "A-Z" style = "margin: 10px">A-Z<br>
          <input type="radio" id="radioButton" name="name" value = "Z-A" style = "margin: 10px">Z-A<br>
        </div>
      </th>
      <th id = 'Type'>
        <p id = 'open'>Type &#9660;</p>
        <div id = 'tail_type' class = 'dropdown_content' style = "display: none">
          <label for="filter" style = "margin-left: 5px"><b>Filter:</b></label><br>
          <input type="checkbox" name="Type" value = "PMO" style = "margin: 10px">PMO<br>
          <input type="checkbox" name="Type" value = "GI" style = "margin: 10px">GI<br>
          <input type="checkbox" name="Type" value = "PNR" style = "margin: 10px">PNR<br>
          <input type="checkbox" name="Type" value = "IE" style = "margin: 10px">IE<br>
        </div>
      </th>
      <th id = 'Block'>
      <p id = 'open'>Block &#9660;</p>
      <div id = 'tail_block' class = 'dropdown_content' style = "display: none">
          <label for="filter" style = "margin-left: 5px"><b>Filter:</b></label><br>
          <input type="checkbox" name="Block" value = "1" style = "margin: 10px">Block 1<br>
          <input type="checkbox" name="Block" value = "2" style = "margin: 10px">Block 2<br>
      </div>
      </th>
      <th id = 'Status'>
        <p id = 'open'>Status &#9660;</p>
        <div id = 'tail_status' class = 'dropdown_content' style = "display: none">
          <label for="filter" style = "margin-left: 5px"><b>Filter:</b></label><br>
          <input type="checkbox"  name="Status" value = "Approved" style = "margin: 10px">Approved<br>
          <input type="checkbox"  name="Status" value = "On correction" style = "margin: 10px">On correction<br>
          <input type="checkbox" name="Status" value = "Replication" style = "margin: 10px">Replication<br>
          <input type="checkbox"  name="Status" value = "Employer" style = "margin: 10px">Employer<br>
        </div>
      </th>
      <th id = 'Updated'>
        <p id = 'open'>Updated &#9660;</p>
        <div id = 'tail_updated' class = 'dropdown_content' style = "display: none">
          <label for="order" style = "margin-left: 5px"><b>Order:</b></label><br>
          <input type="radio" id="radioButton" name="Updated_order" value = "Latest" style = "margin: 10px">Ascending<br>
          <input type="radio" id="radioButton" name="Updated_order" value = "Old" style = "margin: 10px">Descending<br>
          <label for="filter" style = "margin-left: 5px"><b>Filter:</b></label><br>
          <input type="radio" id="radioButton" name="Updated" value = "Less" style = "margin: 10px">Less then 7 days<br>
          <input type="radio" id="radioButton" name="Updated" value = "Middle" style = "margin: 10px">From 7 to 30 days<br>
          <input type="radio" id="radioButton" name="Updated" value = "More" style = "margin: 10px">More then 30 days<br>
        </div>
      </th>
      <th id = 'Curr_status'>
        <p id = 'open' >In current status &#9660;</p>
        <div id = 'tail_curr_status' class = 'dropdown_content' style = "display: none">
          <label for="order" style = "margin-left: 5px"><b>Order:</b></label><br>
          <input type="radio" id="radioButton" name="Curr_status_order" value = "Latest" style = "margin: 10px">Ascending<br>
          <input type="radio" id="radioButton" name="Curr_status_order" value = "Old" style = "margin: 10px">Descending<br>
          <label for="filter" style = "margin-left: 5px"><b>Filter:</b></label><br>
          <input type="radio" id="radioButton" name="Curr_status" value = "Less" style = "margin: 10px">Less then 7 days<br>
          <input type="radio" id="radioButton" name="Curr_status" value = "Middle" style = "margin: 10px">From 7 to 30 days<br>
          <input type="radio" id="radioButton" name="Curr_status" value = "More" style = "margin: 10px">More then 30 days<br>
        </div>
      </th>
    </tr>
  </form>
{% for program in programs %}
<tr>
    <td>{{program.program_id}}</td>
    <td><a href = '{% url "program_details" program.program_id %}'>{{program.KKS}}</a></td>
    <td>{{program.name}}</td>
    <td>{{program.program_type}}</td>
    <td>{{program.block}}</td>
    <td>{{program.status}}</td>
    <td>{{program.status_update|date:'F d, Y'}}</td>
    <td>{{program.in_current_status}} days</td>
  </tr>
{% endfor %}
<script type="text/javascript" src="{% static 'programs/move.js'%}"></script>
{% endblock content %}